<%- include("header.ejs") %>

<% if (locals.blog) { %>
    <div class="blog-container" id="edit-container">
        <form action="/updateblog" method="post">
            <input type="hidden" name="id" value="<%= blog.id %>">
            <textarea name="content"><%= blog.content %></textarea>
            <button>Save Changes</button>
        </form>
    </div>
<%}else {%>
<div class="blog-container" id="edit-container">
    <form method="post" action="/addblog" encType="multipart/form-data">
        <label for="pic" class="custom-file-upload">
            Upload Image
        </label>
        <div class="image-preview">
            <img>
        </div>
        <input type="file" id="pic" name="pic" accept="image/*">
        <textarea name="text" id="text" placeholder="write here."></textarea>
        <button>Add</button>
    </form>
</div>
<% } %>

<script>
    $("input").change(function(e) 
    {
        for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) 
        {
            var file = e.originalEvent.srcElement.files[i];
            img = $("img");

            var reader = new FileReader();

            reader.onloadend = function() {
                img.src = reader.result;
            }
            
            reader.readAsDataURL(file);
            $("input").after(img);
        }
    });
</script>