<%- include("header.ejs") %>

<% if (locals.blog) { %>
    <div class="blog-container" id="edit-container">
        <form action="/updateblog" method="post">
            <input type="hidden" name="id" value="<%= blog.id %>">
            <textarea name="content"><%= blog.content %></textarea>
            <button>Save Changes</button>
        </form>
    </div>
<%}else {%>
    <div class="blog-container" id="edit-container">
        <form method="post" action="/addblog" enctype="multipart/form-data">
            <label for="pic" class="custom-file-upload">
                Upload Image
            </label>
            <div class="image-preview">
                <img id="preview-image">
            </div>
            <input type="file" id="pic" name="pic" accept="image/*">
            <textarea name="text" id="text" placeholder="Write here."></textarea>
            <button>Add</button>
        </form>
    </div>
<% } %>

<script>
    $("#pic").change(function(e) {
        var file = e.target.files[0];
        var img = $("#preview-image");

        var reader = new FileReader();

        reader.onload = function(e) {
            img.attr('src', e.target.result);
        }
        
        reader.readAsDataURL(file);
    });
</script>